
.cards {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.cards img {
  width: 100px;
}

.cards p {
  opacity: 0.5;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px lightgrey;
  border: 1px solid lightgray;
  padding: 20px;
}
